*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
  background-color: #076cec;
  padding: 0.5rem 10rem;
  /* margin: 0 10%; */
}
.social a {
  padding: 20px ;
}
.fa-envelope{
  padding: 0 15px;
}
.mail{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
}
.mail:hover{
  color: #65ceff;
  text-decoration: none;
  transition: ease-in .2s;
  transition-duration: .7s ease-in-out;
}
.navbar2{
  /* background-color: #1b5beb; */
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 4rem;
}
.logo img{
  width: 150px;
  height: auto;
}
.links a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;

}
.icons i{
  padding:10px;
}
.banner{
  background-image: url("./assist/imgs/banner.png");
  /* height: 100%; */
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.button-80 {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .275rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .975rem 2.5rem;
  position: absolute;
  top: 30rem;
  left: 10rem;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-80:not(:disabled):hover {
  transform: scale(1.0);
  background-color: #3788ff;
  color: #fff;
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.0) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}

.sec_3{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.card{
  background: url(./assist/imgs/imgs/imgs02.jpg);
  background-position:center;
  height: fit-content;
  border-radius: .925rem;
  display: flex;
}
.card2{
  background: url(./assist/imgs/imgs/imgs03.jpg);
  /* background-position:center; */
  height: fit-content;
  border-radius: .925rem;
  display: flex;
}
.card-body{
  padding: 4.8rem 11rem ;
  height: max-content;
  width: max-content;
}
.card-title{
  text-align: left;
  font-size: 45px;
  color:#013243;
  font-weight: 700;
}
.card-text em{
  font-size: 30px;
  color: #fff;

}
.card-body button{
  background: #076cec;
    padding: 7px 25px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5rem;
}
.card-body button:hover{
  background: #68e1ff;
  transition: all .8s  ease ;
}
.card-body button:active{
  border: #65ceff;
}
.card2title{
  text-align: right;
  font-size: 45px;
  color:#013243;
  font-weight: 700;
}
.card2-body{
  padding: 3.5rem 11rem ;
  height: max-content;
  width: max-content;
}
.card2-title{
  text-align: right;
  font-size: 45px;
  color:#013243;
  font-weight: 700;
}
.row_2{
  width: 100%;
    display: flex;
    justify-content: right;
    text-align: right;
}
.card2-body button{
  background: #076cec;
    padding: 7px 25px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5rem;
}
.card2-body button:hover{
  background: #68e1ff;
  transition: all .8s  ease ;
}